// Breakpoints para cada uno de los diferentes mediaquery
// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

.conocimientos__contenedor {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-start;

  @media screen and (max-width: 480px) {
    padding: 1rem 0rem;
  }
}

.conocimientos__cabecera {
  position: relative;
  width: fit-content;
  font-size: 2rem;

  @media screen and (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.conocimientos__cabecera-inicial {
  background: var(--black-color);
  color: var(--white-color);
  padding-left: 2rem;
  padding-right: 0.2rem;

  @media screen and (max-width: 480px) {
    padding-left: 1.5rem;
  }
}

.conocimientos__cabecera::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 20px;
  bottom: 10px;
  right: -24px;
  background-color: #262626;
  animation: cursorInferior 0.8s steps(16) infinite;
  animation-direction: alternate;

  @media screen and (max-width: 480px) {
    right: -20px;
    width: 15px;
  }
}

@keyframes cursorInferior {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.conocimientos__bloque {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 3.5rem 0px 0px 0px;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    margin: 2rem 0px 0px 0px;
  }
}

.conocimientos__elemento {
  padding: 0.5rem;
  width: calc(50% - 4rem);
  margin: 1rem 2rem;
  color: var(--white-color);
  background: var(--black-color);

  @media screen and (max-width: 768px) {
    width: calc(50% - 1rem);
    margin: 1rem 0.5rem;
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
    width: 100%;
    margin: 1rem 0px;
    font-size: 0.8rem;
  }
}
